---
# index page of site
layout: index
---
<body data-spy="scroll" data-target="#navbar">
  <header>
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if site.brand_logo %}
             <a class="navbar-brand" style="padding:0" href="#"><img src="{{ site.brand_logo }}" alt="home" /></a>
          {% else %}
             <a class="navbar-brand" href="#">Home</a>
          {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          {% for page in site.fronts %}
            {% if forloop.first %}
              {% continue %}
            {% endif %}
            {% assign name = page | split: "." | first | slugify %}
            {% assign title = name | capitalize %}
            <li role="presentation">
              <a href="#{{ name }}" aria-controls="messages">{{ title }}</a>
            </li>
          {% endfor %}
          </ul>
          {% include social-links.html size="2x" class="nav navbar-nav navbar-right text-right" %}
        </div>
      </div>
    </nav>
  </header>

  <!-- List of pages -->
  <section class="front-container">
  {% for page in site.fronts %}
    {% assign name = page | split: "." | first | slugify %}
    {% assign title = name | capitalize %}
    {% if forloop.first %}
      <article class="front">
        <a name="{{ name }}"></a>
        {% include_relative _fronts/{{ page }} %}
      </article>
      {% continue %}
    {% endif %}
    <article class="front">
      <a id="{{ name  }}" name="{{ name }}" style="position:relative; top:-40px;"></a>
      {% if site.default_front_titles %}
        <h1>{{ title }}</h1>
      {% endif %}
      {% include_relative _fronts/{{ page }} %}
    </article>
  {% endfor %}
  <div class="footer">
    {% include footer.html %}
  </div>
  </section>
</body>
