html, body {
  height: 100%; margin: 0; padding: 0; border: 0;
}
.front-container {
  height: 100%;
}
.front {
  min-height: 100%;
  padding: 50px;
  margin: 50px auto 50px auto;
  max-width:1280px;
  border: solid 1px #000;
}
.navbar {
  height: 40px;
}


footer {
  height: 40px;
  width: 100%;
  background-color: black;
}
